.auth {

  height: calc(100vh);
  width: 100%;
  background-color: red;
  position: relative;
  display: flex;
  flex-direction: row;
}
.auth_left {
  width: auto;
  max-width: 50vw;
  min-width: 480px;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 90%);
}
.auth_right {
  width: auto;
  min-width: 0;
  height: 100%;
  flex-grow: 1;
  position: relative;
  display: flex;
  background-color: purple;
}
.auth_right_img {
  width: auto;
  min-width: 0;
  height: 100%;
  flex-shrink: 8;
  position: relative;
  display: flex;
  background-color: purple;
}

.login_form {
  width: 400px;
  height: 280px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 95%);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  border-radius: 8px;
}
.login_form__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: hsl(0, 0%, 5%);
}

.form_input {
  width: 100%;
  height: 54px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.form_input__label {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
  color:hsl(0, 0%, 30%)
}
.form_input__input{
  height: 30px;
  width: auto;
  position: relative;
  display: flex;
  border: 2px solid #D9D9D9;
  border-radius: 8px;
  box-sizing: border-box;
  padding-left: 8px;
  font-size: 16px;
  color:hsl(0, 0%, 30%)
}